{% extends 'layout.html' %}

{% block heading %}

{% endblock %}

{% block body %}
    {{ message }}

    {% for book in books_result %}
        {% if not books_result %}
            No results found.
        {% endif %}
        <ul class="booklist">
            <li>Title: <a href="{{ url_for('isbn', isbn_id=book.isbn) }}">{{book.title}}</a></li>
            <li>ISBN: {{book.isbn}}</li>
            <li>Author: {{book.author}}</li>
            <li>Year: {{book.year}}</li>
        </ul>
    {% endfor %}

    {% if sel_book %}

        {% for book in sel_book %}
        <ul class="info_titles">
            <li>ISBN: {{ book.isbn }}</li>
            <li>Title: {{ book.title }}</li>
            <li>Author: {{ book.author }}</li>
            <li>Year: {{ book.year }}</li>
        </ul>


        {% if res %}
            Goodreads avaliation:
            {{ res }}
        {% endif %}

            <div class="stars">
                <form action="{{ url_for('review', isbn_id = book.isbn) }}" id="comment-box" method="POST">
                    <spam>Rate this book!</spam>
                    <input class="star star-1" id="star-1" type="radio" name="star" value='5'>
                    <label class="star star-1" for="star-1"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" value='4'>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" value='3'>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" value='2'>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-5" id="star-5" type="radio" name="star" value='1'>
                    <label class="star star-5" for="star-5"></label>
                    <textarea name="comment"> Enter your review here...</textarea>
                    <button>Submit review!</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}

    {% if review_list %}
        {% for review in review_list %}
            <div class="review-infos">
                <p>Rating: {{ review[0].rating}}</p>
                <p>Comment: {{review[0].review}} </p>
                <p>Author: {{review[1].first_name}} {{review[1].last_name}}</p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
