<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sNk Bookstore</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <div class="nav-logo">
                <a href="{{ url_for('index') }}">
                    <img src="/static/snk_logo.png" alt="snk-bookstore">
                </a>
        </nav>
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}

        {% endblock %}
    </body>
</html>
